<div class="blog-section">
    <h2>OUR BLOG</h2>
    <div class="container">
      <div class="grid">
      <!-- Premier article -->
      <div class="blog-card">
        <img [src]="'https://res.cloudinary.com/du1rqxwmr/image/upload/v1615678900/s8moagspqrdd3tsqakym.jpg'" width="288" height="288" />
        <h3 class="product-title"> Everyday Advice for Happy Pets</h3>
        </div>


      <!-- Deuxième article -->
      <div class="blog-card">
        <img [src]="'https://res.cloudinary.com/du1rqxwmr/image/upload/v1615678900/ee8fk5f1a7i739tresba.jpg'" width="288" height="288" />
        <h3 class="product-title"> Trusted Tips & Tricks</h3>
      </div>

      <!-- Troisième article -->
      <div class="blog-card">
        <img [src]="'https://res.cloudinary.com/du1rqxwmr/image/upload/v1615678900/nrnmnz3wrg3fyzivv4gj.jpg'" width="288" height="288" />
        <h3 class="product-title">Caring for Your Pet Like a Pro</h3>
      </div>
    </div>
</div>
    <!-- Bouton Lire Plus -->
    <button class="read-more">READ MORE</button>
  </div>
