
<div class="slider">

    <div class="slide active">
        <div class="content">
          <div>

            <img [src]="'https://res.cloudinary.com/du1rqxwmr/image/upload/v1615678900/fjmtfvi4kie4vudcy1ke.jpg'" width="8000" height="4500" />

            <div class="overlay-gauche">
              <h2>Stylish & Comfortable for Your Pets!</h2>
              <button class="btn">Check Out Now</button>
            </div>

          </div>


        </div>
      </div>
      <div class="slide">
        <div class="content">
        <div>
          <img [src]="'https://res.cloudinary.com/du1rqxwmr/image/upload/v1615678900/d6bx682ni4kwpsp3jqm9.jpg'" width="7376" height="3688" />

          <div class="overlay-droite">
            <h2>Unleash Joy: Premium Products for Your Furry Friends!</h2>
            <button class="btn">Check Out Now</button>
          </div>
        </div>
        </div>
      </div>


      <div class="slide ">
        <div class="content">
          <div>
          <img [src]="'https://res.cloudinary.com/du1rqxwmr/image/upload/v1615678900/fqi6d7mk7uh2rjmp0vi2.jpg'" width="6720" height="4480" />
          <div class="overlay">
            <h2>Caring for Your Companion</h2>
            <button class="btn">Check Out Now</button>
          </div>

          </div>
        </div>
        </div>






    <button class="prev" (click)="prevSlide()">&#10094;</button>
    <button class="next" (click)="nextSlide()">&#10095;</button>
  </div>
