<div class="slider">
   
    <div class="slide active">
        <div class="content">
          <img src="assets/ghost.png" >
          <div class="text">
            <h2>Spooky Summer</h2>
            <button class="btn">Check Out Now</button>
          </div>
        </div>
      </div>
      <div class="slide active1">
        <div class="content">
          <img src="assets/ghost.png" >
          <div class="text">
            <h2>aaaa</h2>
            <button class="btn">Check Out Now</button>
          </div>
        </div>
      </div>
      <div class="slide active2">
        <div class="content">
          <img src="assets/ghost.png" >
          <div class="text">
            <h2>kiokiik</h2>
            <button class="btn">Check Out Now</button>
          </div>
        </div>
      </div>
  
    
  
   
  
    <button class="prev" (click)="prevSlide()">&#10094;</button>
    <button class="next" (click)="nextSlide()">&#10095;</button>
  </div>
  