.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slider {
  position: relative; /* On enlève absolute */
  width: auto;
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin: -45px auto 0; /* Ajoute un espace sous la navbar */
  
}

.slider::before ,  .slider::after{
  content: '';
  position: absolute;
  top: -3.5px;
  clip-path: polygon(
    0% 50%, 5% 60%, 10% 70%, 15% 80%, 20% 85%, 
    25% 90%, 30% 92%, 35% 95%, 40% 97%, 45% 98%, 
    50% 100%, 55% 98%, 60% 97%, 65% 95%, 70% 92%, 
    75% 90%, 80% 85%, 85% 80%, 90% 70%, 95% 60%, 
    100% 50%
  );
  left: 0;
  width: 100%;
  height: 50px; /* Hauteur de la bordure en zigzag */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: #f8f9fa; /* Couleur de la bordure */

}





.slide {
  display: none;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 22px;
  
}


.slide.active {
  display: block;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost {
  width: 750px;
}

.text {
  text-align: center;
  

}

/*h2 {
  font-size: 28px;
  font-weight: 400;
  color: #ff0000;
}

.btn {
  background: #ff6600;
  color: white;
  border: none;
  padding: 9px 15px;
  font-size: 21px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 200;
}

.btn:hover {
  background: #00e1ff;
}**/

.content img {
  width: 1330px; /* Garde l'image responsive */
  height: 440px;
  display: block;
}

.overlay {
  position: absolute;
  top: 60%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%); /* Ajuste parfaitement au centre */
  z-index: 2;
  color: white;
}

.overlay h2 {
  font-size: 60px;
  font-weight: 800;
}

.overlay .btn {
  background: #3e7d98;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
 
}

.overlay .btn:hover {
  background: #f51303;
}


.overlay-gauche {
  position: absolute;
  top: 50%; /* Centre verticalement */
  left: 70%; /* Centre horizontalement */
  transform: translate(-50%, -50%); /* Ajuste parfaitement au centre */
  text-align: center;
  z-index: 2;
  color: white;
  
}

.overlay-gauche h2 {
  
  font-size: 60px;
  
  font-weight: 800;
}

.overlay-gauche .btn {
  background: rgba(183, 164, 56, 0.801);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  
}

.overlay-gauche .btn:hover {
  background: #f51303;
}


.overlay-droite {
  position: absolute;
  top: 45%; /* Centre verticalement */
  margin-left: 30%; /* Centre horizontalement */
  transform: translate(-50%, -50%); /* Ajuste parfaitement au centre */
  z-index: 2;
  color: white;
  
}

.overlay-droite h2 {
 
  font-size: 60px;
  font-weight: 800;
}

.overlay-droite .btn {
  background: #853c2fcc;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  
}

.overlay-droite .btn:hover {
  background: #e0584d;
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(100, 115, 6, 0);
  color: rgb(0, 0, 0);
  border: none;
  padding: 13px;
  cursor: pointer;
  font-size: 25px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background:#e0574d89;
  border-radius: 100%;
}
