*{
  font-size: 16px;
  font-weight: 450;
  background: #f8f9fa;
  cursor: pointer;
}

.header {
  padding: 30px;
  text-align: center;
  
  width: 100%;
  transition: transform 0.3s ease-in-out;
  margin-top: 80px;
}

.hidden-header {
  transform: translateY(-100%);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
  
}



.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
.dropend:hover > .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
 
}
/* Effet hover sur l'élément */
                              
.dropdown-item {
  position: relative;
  padding-bottom: 10px;
  transition: color 0.3s ease-in-out;
 
  
}

.dropdown-item::after {
  content: "";
  display: block;
  width: 80%;
  margin: 5px auto;
  height: 1px;
  background: linear-gradient(to right, #e0584d, transparent);
  transition: background 0.3s ease-in-out;
}

/* Effet hover sur l'élément */
.dropdown-item:hover {
  color: #e0584d; /* Couleur du texte au survol */
}

/* Effet hover sur le divider */
.dropdown-item:hover::after {
  background: linear-gradient(to right, #e0584d, transparent);
}

.nav-link:hover {
  color: #e0584d; /* Couleur du texte au survol */
}

/* Effet hover sur le divider */
.nav-link:hover::after {
  background: linear-gradient(to right, #e0584d, transparent);
}








.nav-item {
  position: relative;
  padding-bottom: 10px;
  transition: color 0.3s ease-in-out;
  
}

.nav-item::after {
  content: "";
  display: block;
  width: 80%;
  margin: 5px auto;
  height: 1px;
  background: linear-gradient(to right, #e0584d, transparent);
  transition: background 0.3s ease-in-out;
}

/* Effet hover sur l'élément */
.nav-item:hover {
  color: #e0584d; /* Couleur du texte au survol */
}

/* Effet hover sur le divider */
.nav-item:hover::after {
  background: linear-gradient(to right, #e0584d, transparent);
}










