<div class="menu-bar">
    
    <ul>
      <li><a routerLink="/">HOME</a></li>
      
      <li>
        <a href="#">CATEGORY <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu">
          <ul>
            <li>
              <a href="#">CAT<i class="fas fa-caret-right"></i></a>
              <div class="dropdown-menu-1">
                <ul>
                  <li><a routerLink="/team-1">TOYS</a></li>
                  <li><a routerLink="/team-2">FOOD</a></li>
                  <li><a routerLink="/team-3">HEALTH SUPPLIES</a></li>
                  <li><a routerLink="/team-4">CLOTHES</a></li>
                </ul>
              </div>
            </li>
          
            <li>
                <a href="#">DOG<i class="fas fa-caret-right"></i></a>
                <div class="dropdown-menu-1">
                  <ul>
                    <li><a routerLink="/team-1">TOYS</a></li>
                    <li><a routerLink="/team-2">FOOD</a></li>
                    <li><a routerLink="/team-3">HEALTH SUPPLIES</a></li>
                    <li><a routerLink="/team-4">CLOTHES</a></li>
                  </ul>
                </div>
              </li>
          </ul>
        </div>
      </li>
      <li><a routerLink="/blog">BLOG</a></li>
      <li><a routerLink="/contact">CONTACT US</a></li>
    </ul>
  </div>
  <div class="hero">&nbsp;</div>
  