<div class="tutorial" *ngFor="let tutorial of tutorials" >
    <div class="tutorial-left">
        <img [src]="tutorial.image" [alt]="tutorial.title" class="tutorial-image">
    </div>
    <div class="tutorial-right">
        <h1>{{ tutorial.title }}</h1>
        <p class="description">
            {{ tutorial.description }}
        </p>
        <ul class="colors">
            <li *ngFor="let color of tutorial.colors">{{ color }}</li>
        </ul>
        <p class="date">{{ tutorial.date }}</p>
        <button (click)="navigateToBlog(tutorial.id)" class="read-more">READ MORE</button>
        </div>
</div>
